@font-face {
    font-family: LATO;
    src: url(../font/Lato-Regular.ttf);
}

:root {
    --main-font: "LATO", "Arial", "sans-serif";
    --color-blanc : #dee2e6;
    --color-black : #000000;
    --color-grey : #343a40;
    --color-grey-light: #6c757d;
}


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-margin-top: 6em;
}

a {
    align-content: center;
    color: var(--color-blanc);

}

body {
    background: #1a1e24;
    background: linear-gradient(180deg, rgba(26, 30, 36, 1) 0%, rgba(15, 37, 48, 1) 100%);    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}




/* ----------------------------------------------------------------------------- */
/* ---------------------------- NAVBAR ----------------------------------------- */
/* ----------------------------------------------------------------------------- */

header {
    white-space: nowrap;
    display: flex;
    top: 0;
    position: sticky;
    z-index: 100;
}


nav {
    padding-left:1em ;
    display: flex ;
    width: 100%;
    justify-content: left;
    background-color: var(--color-blanc);
    min-height: 5em;
    font-family: var(--main-font);
    align-items:stretch;
}


#humberger {
    display: none;
    width: 4em;
    height: 100%;
}

#menu-humberger {
    display: none;
    flex-direction: column;
    background-color: var(--color-blanc);
    position: absolute;
    top: 100%;
    gap: 1em;
    left: 0;
    width: 100%;
}

.sous-menu-humberger {
    display: flex;
    justify-content: center;
    height: 2em;
    background-color: #001e4170;
}

.sous-menu-humberger > a {
    color: var(--color-black);
}

#humberger:hover #menu-humberger {
    display: flex;
}

.sous-menu-humberger:hover {
    color: var(--color-blanc);
    background-color: #005b809d
}

.sous-menu-humberger:hover > a {
    color: var(--color-blanc);
}


#menuClassique {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2em;
    width: 40%;
    margin-left: 1em;
}

.menu {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    flex: 1;
    min-width: 6em;
    width: auto;
}

.sous-menu {
    background-color:transparent;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    display: none; /**/
    gap: 0.5em;
    flex-direction: column;

}

.menu:hover .sous-menu {
    display: flex;
    color: var(--color-black);
}

.sous-menuElt {
    background-color: var(--color-blanc);
    color: var(--color-black);
    opacity: 0; /**/
    height: 2em;
    transition: border-radius 0.2s ease-out;
    border-radius: 5px;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.8);   
}

.sous-menuElt a {
    color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sous-menuElt:hover {
    background-color: #005b809d;
    color: var(--color-blanc);
    border-radius: 10px;
}

.sous-menuElt:hover a {
    color: var(--color-blanc);
}

/* mise en gras de l'élement */



/* Annimation */

.menu:hover .sous-menuElt {
    animation : slideIn 0.4s forwards
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform : translateX(-30px);
    }
    100% {
        opacity: 1;
        transform : translateX(0)
    }
}

.menu:hover .sous_menuElt:nth-child(1){
    animation-delay: 0s;
}

.menu:hover .sous-menuElt:nth-child(2){
    animation-delay: 0.08s;
}

.menu:hover .sous-menuElt:nth-child(3){
    animation-delay: 0.16s;
}

.menu > a{
    background-color: #001e4170;
    min-width: min-content;
    width: 90%;
    height: 50%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--color-black);
    position: relative;
    overflow: hidden;
    transition: color 0.2s ease-in-out;
    z-index: 1;
}

.menu > a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #005b809d;
    transition: height 0.2s ease-out;
    z-index: -1;
    border-radius: 15px;
}

.menu > a:hover::before {
    height: 100%;
}

.menu > a:hover {
    color: var(--color-blanc);
}

/* mise en valeur de la page */
a.tag::before {
    height: 100%;
}

a.tag {
    color: var(--color-blanc);
}

.tag2 {
    background-color: #005b809d;
}

.tag2 > a {
    color: var(--color-blanc);
}


footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5em;
    justify-content: center;
    align-items: center;
    gap:4em;
    margin-top: auto;
    background-color: #f8f9fa;
    color: #343a40;
    font-size: 1em;
    font-family: var(--main-font);
}

footer a {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer > div {
    display: flex;
    align-items: center;
}


/* titles */

h1 {
    font-size: 5em;
    font-family: var(--main-font);
    margin: 0.5em auto;
    text-align: center;
    color: var(--color-blanc);
}

h3 {
    justify-content: center;
    display: flex;
    font-size: 200%;
    padding: 1em;
    width: 100%  ;
}





/* ------------------- */

main {
    margin: 2em 0 4em 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 2em;
    font-family: var(--main-font);
}

.contener {
    background-color: var(--color-grey-light);
    width: 70%;
    max-width: 80em;
    justify-self: center;
    border-radius: 24px;
    padding: 1em;

}

.content {
    display: flex;
    background-color: var(--color-blanc);
    padding: 1em;
    border-radius: 16px;
    gap:1em;
}



.titlePage {
    font-size:2em;
    font-family: var(--main-font);
}

.descriptionPage {
    display: flex;
    text-justify:distribute;
    align-content: center;
    font-size: 18px;
    line-height: 1.15em;
}



.image {
    width: 85%;
    height: 70%;
    object-fit: cover;
}

img {
    background-color: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
}

.btn {
    width:85%;
    height: 15%;
    color: var(--color-black);
    border-radius: 12px;
    min-height: 3em;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: var(--color-grey-light);
        z-index: 0;

}

.btn > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    color: var(--color-black);
    transition: color 0.2s ease-in-out;
    font-size: 2em;
    font-family: var(--main-font);
}

.btn > a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #001e4170;
    transition: height 0.2s ease-out;
    z-index: -1;
    border-radius: 10px;
}

.btn > a:hover::before {
    height: 100%;
}

.btn > a:hover {
    color: var(--color-blanc);
}




.btn2 {
    width:25%;
    min-width: 15em;
    height: 15%;
    color: black;
    background-color: transparent;
    border-radius: 12px;
    min-height: 3em;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #6c757d;
    z-index: 0;
}

.btn2 > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    color: black;
    transition: color 0.2s ease-in-out;
    font-size: 2em;
    font-family: var(--main-font);
}

.btn2 > a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: black;
    transition: height 0.2s ease-out;
    z-index: -1;
    border-radius: 10px;
}

.btn2 > a:hover::before {
    height: 100%;
}

.btn2 > a:hover {
    color: azure;
}


.infos {
    gap: 1em;
}

.autre {
    gap: 1em;
    border-radius: 18px;
}

.utile {
    align-items: start;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos {
    flex:1;
    padding: 0.5em;
}

.autre {
    flex: 1;
    padding: 0.5em;
}


.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.inverseRow{
    flex-direction: row-reverse;
}

.motCle, .critique  {
    align-items:start;
}

.motCle {
    flex: 1;
}

.critique {
    flex: 3;
}


/* pdf */
.pdf-viewer > embed {
    height: 800px;
    width: 100%;
}

/*-----------------------------------------------------------------*/
/*---------------------------Page contact -------------------------*/
/*-----------------------------------------------------------------*/

.contener_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.content_contact {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    background-color: var(--color-grey-light);
    border-radius: 24px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

input{
    border-radius: 24px;
    padding: 1em;
    width: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    color: var(--color-black);
}

.label_input_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color : var(--color-black);
}

label{
    padding: 1em;
    color: var(--color-blanc);
    font-family: var(--main-font), serif;
    font-size: 1.2em;
    font-weight: bold;
}

h2 {
    padding: 2em;
    color: var(--color-blanc);
    font-family: var(--main-font), serif;
    font-weight: bold;
}

select {
    border-radius: 24px;
    padding: 1em;
    width: 56%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

textarea {
    border-radius: 24px;
    padding: 1em;
    width: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    justify-content: center;
    margin-bottom: 2em;
    resize: none;
}

button {
    border-radius: 24px;
    padding: 1em;
    width: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 2em;
}

#citation > p {
    font-style: italic;
}
