@font-face {
    font-family: LATO;
    src: url(../font/Lato-Regular.ttf);
}

:root {
  --main-font: "LATO", "Arial", "sans-serif";
}


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-margin-top: 5em;
}

a {
    align-content: center;
    color: azure;

}

body {
    background-color: chartreuse;
}


/* ----------------------------------------------------------------------------- */
/* ---------------------------- NAVBAR ----------------------------------------- */
/* ----------------------------------------------------------------------------- */

header {
    white-space: nowrap;
    display: flex;
    top: 0;
    position: sticky;
    align-content: center;
}


nav {
    display: flex ;
    width: 100%;
    justify-content: center;
    background-color: blue;
    min-height: 5em;
    font-family: var(--main-font);
    align-items: stretch;
}


#humberger {
    display: none;
}

#menuClassique {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2em;
}

.menu {
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    flex:1
}

.sous-menu {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    display: none;
}

.menu:hover .sous-menu {
    display: block;
}

.sous-menuElt {
    background-color: chocolate;
}



/* Annimation */

nav > div:hover .sous-menu {
    animation : slideIn 0.4s forwards
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform : translateX(-30px);
    }
    100% {
        opacity: 1;
        transform : translateX(0)
    }
}

