@font-face {
    font-family: LATO;
    src: url(../font/Lato-Regular.ttf);
}

:root {
  --main-font: "LATO", "Arial", "sans-serif";
}


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-margin-top: 5em;
}

a {
    align-content: center;
    color: azure;

}

body {
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* ----------------------------------------------------------------------------- */
/* ---------------------------- NAVBAR ----------------------------------------- */
/* ----------------------------------------------------------------------------- */

header {
    white-space: nowrap;
    display: flex;
    top: 0;
    position: sticky;
}


nav {
    display: flex ;
    width: 100%;
    justify-content: left;
    background-color: #f8f9fa;
    min-height: 5em;
    font-family: var(--main-font);
    align-items:stretch;
}


#humberger {
    display: none;
    width: 4em;
    height: 100%;    
}

#menu-humberger {
    display: none;
    flex-direction: column;
    background-color: aqua;
    position: absolute;
    top: 100%;
    gap: 1em;
    left: 0;
    width: 100%;
}

.sous-menu-humberger {
    display: flex;
    justify-content: center;
}

#humberger:hover #menu-humberger {
    display: flex;
}






#menuClassique {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2em;
    width: 40%;
    margin-left: 1em;
}

.menu {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    flex: 1;
    min-width: 6em;
    width: auto;
}

.sous-menu {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    display: none;
}

.menu:hover .sous-menu {
    display: block;
}

.sous-menuElt {
    background-color: chocolate;
    opacity: 0;
}



/* Annimation */

.menu:hover .sous-menuElt {
    animation : slideIn 0.4s forwards
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform : translateX(-30px);
    }
    100% {
        opacity: 1;
        transform : translateX(0)
    }
}

.menu:hover .sous_menuElt:nth-child(1){
    animation-delay: 0s;
}

.menu:hover .sous-menuElt:nth-child(2){
    animation-delay: 0.08s;
}

.menu:hover .sous-menuElt:nth-child(3){
    animation-delay: 0.16s;
}



.menu > a {
    background-color: transparent;
    min-width: min-content;
    width: 90%;
    height: 50%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    position: relative;
    overflow: hidden;
    transition: color 0.2s ease-in-out;
    z-index: 1;
}

.menu > a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: black;
    transition: height 0.2s ease-out;
    z-index: -1;
    border-radius: 10px;
}

.menu > a:hover::before {
    height: 100%;
}

.menu > a:hover {
    color: azure;
}


footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5em;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin-top: auto;
}

footer > div {
    display: flex;
    align-items: center;
}





/* ------------------- */

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 2em;
}

.contener {
    background-color: aquamarine;
    display: flex;
    width: 70%;
    max-width: 80em;
    justify-self: center;
    border-radius: 24px;
    padding: 3em;

}

.content {
    display: flex;
    flex-direction: row;
    background-color: azure;
    padding: 1em;
    border-radius: 22px;
    gap:1em;

}

.text {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    gap: 1em;
    justify-content: center;
}

.titlePage {
    font-size:2em;
    font-family: var(--main-font)
}

.descriptionPage {
    display: flex;
    text-justify:distribute;
    align-content: center;
    font-size: 18px;
    line-height: 1.15em;
}

.autre {
    display: flex;
    flex-direction: column;
    flex:2;
    gap: 1em;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
}

.image {
    width: 85%;
    height: 70%;
    object-fit: cover;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
}

.btn {
    width:85%;
    height: 15%;
    background-color: black;
    border-radius: 12px;
    min-height: 3em;
}








