@media(width < 740px) {
    #humberger {
        display: block;
    }

    #menuClassique {
        display: none;
    }

    footer {
        flex-direction: column;
        gap: 2em;
        height: fit-content;
        padding: 1em 0;
    }
}



@media (width < 740px) {
    .contener {
        flex-direction: column;
    }

    .normal {
        flex-direction: column;
    }

    .inverse {
        flex-direction: column-reverse;
    }
}