@media(width < 740px) {
    #humberger {
        display: block;
    }

    #menuClassique {
        display: none;
    }

    footer {
        flex-direction: column;
    }
}



@media (width < 740px) {
    .contener {
        flex-direction: column;
    }

    .content {
        flex-direction: column;
    }
}